
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a{
  text-decoration: none;
  color: #000000;

}
img:hover {
  animation: ease-in-out 8s;
  transform: scale(1.5);
  transition-delay:1s;

}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

nav{

  position: fixed;
  overflow-y: auto;
  height: 90%;
  left:-2%;
  font-size: 2.5vw;
width: auto;
  margin-top: 3%;
  margin-left: 2%;
  /*border-bottom: 5px solid black;*/

}
button,input:focus {outline:0;}
button{
  opacity: 0.5;
  background-color: Transparent;
  border: none;
  font-size:2.5vw;
  position: fixed;
  margin-left: 42%;
  text-decoration: none;
  z-index: 1;
  top:6%;
  right: 31%;
  cursor: pointer;

}

input{
  /*background-color: rgba(255, 255, 255, 0.5);*/
  border: none;
  z-index: 1;
  text-decoration: none;
width: 37%;
  font-size:100%;
  position: fixed;
padding-left: 1%;

}
div{


}
h2{

  width: 100%;
  margin-bottom: 2%;
  font-size: 4vw;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  border-top: 1px solid black;
  padding-top: 15px;
}

p{
border-left: 0.5px solid rgba(0, 0, 0, 0.51);
padding-left: 10px;
  color: rgba(0, 0, 0, 0.74);
  font-size: 1.8vh;;
font-family: Times, Times New Roman, serif;
  width: 100%;


}

li{
  margin-bottom: 10%;

  list-style: none;
}
h1{
  box-shadow:         3px 3px 5px 6px #ccc;
  margin-bottom: 10%;
  margin-top: 5%;

  padding: 3%;
}
body{
  font-family: 'Oswald', sans-serif;
  max-width: 60%;

  margin-right: auto;
  margin-left: auto;


}
a{
  position: relative;
}
@media screen and (min-width: 600px) {
  body {
    width: 40%;
  }
  p{
    font-size: 3vh;
  }
  h2{
    font-size: 3.5vh;
  }
}
img{
  width: 100%;

}
@media screen and (max-width: 600px) {
button{


  opacity: 0;
}
  p{
    font-size: 3.3vh;
  }

}
img{
  width: 100%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
